@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@300&display=swap');

:root {
    --ff-head: 'Libre Baskerville', serif;
    --ff-body: 'Roboto', sans-serif;
    --text-h1: 2.448rem;
    --text-h2: 2.074rem;
    --text-h3: 1.728rem;
    --text-h4: 1.44rem;
    --text-h5: 1.2rem;
    --text-body: 1rem;
    --clr-black: #000;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-head), var(--ff-body);
    line-height: 1.75em;
    font-weight: 400;
    font-size: var(--text-body);
}

body::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--clr-black);
    background-image: -webkit-linear-gradient(90deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}

h1 {
    font-size: var(--text-h1);
}

h2 {
    font-size: var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

h4 {
    font-size: var(--text-h4);
}

p {
    font-family: var(--ff-body);
}

img {
    width: 100%;
}

header,
.header-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    margin-bottom: 1rem;
}

.header-desc {
    margin: 2rem 0;
}

header .header-desc h1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

header .header-desc p {
    margin-bottom: 1rem;
    padding: 0 5em;
    line-height: 1.5;
}

.header-imgs {
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#container-1 {
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.front-wrapper {
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-wrapper .front-img {
    width: 50%;
    border: 2px solid var(--clr-black);
}

.front-wrapper .front-desc {
    width: 50%;
    padding: 0 50px;
    overflow-y: scroll;
    max-height: 373px;
}

#container-2 .front-wrapper .front-desc {
    overflow-y: visible;
}

.front-wrapper .front-desc h3 {
    margin-bottom: 0.5rem;
}

.retro-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.retro-wrapper .retro-img {
    width: 50%;
    border: 2px solid var(--clr-black);
}

.retro-wrapper .retro-desc {
    width: 50%;
    padding: 0 50px;
    overflow-y: scroll;
    max-height: 373px;
}

.retro-wrapper .retro-desc {
    width: 50%;
    padding: 0 50px;
    max-height: 373px;
}

.retro-wrapper .retro-desc h3 {
    margin-bottom: 0.5rem;
}

.retro-wrapper .retro-desc h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.retro-wrapper .retro-desc .content {
    margin-top: 1rem;
}

.retro-wrapper .retro-desc p:nth-child(11) span {
    display: flex;
    flex-direction: column;
}

.retro-wrapper .retro-desc p:nth-child(11) span .Postmark_Note {
    display: block;
}

.retro-wrapper .retro-desc p:nth-child(11) span .Postmark_Date {
    display: block;
}

.Postmark_Date, .Postmark_Note {
    display: block;
}

/* Slider */
#slider {
    position: relative;
    overflow: hidden;
    border: 2px solid var(--clr-black);
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
    width: 100%;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
}

#slider ul li:nth-child(2) {
    display: none;
}

#slider ul li:nth-child(3) {
    display: none;
}

a.control_prev,
a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    --webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}

#container-2 {
    display: none;
    padding: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container-3 {
    display: none;
    padding: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Footer */
footer {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
}

footer h4 {
    margin-bottom: 1rem;
    width: 50%;
    border-image: url(imgs/brush.png);
    border-image-slice: 0% 0% 16% 0% fill;
    font-family: 'Ma Shan Zheng', cursive;
    letter-spacing: 1px;
    font-size: var(--text-h4);
    padding: 1rem 0;
    border-style: solid;
    color: #f7f7f7;
    overflow: hidden;
    text-align: center;
}

footer .Footer_Credits, .Footer_AboutUs {
    width: 50%;
    height: 100%;
    padding: 0 50px;
}

/* Scrollbar */
#style-9::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar-thumb {
    background-color: black;
    background-image: -webkit-linear-gradient(90deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}

@media (max-width:1050px) { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
  
    header .header-desc p {
        padding: 0 2rem;
    }

    header .header-imgs {
        padding: 0 1rem;
    }

    h1 {
        text-align: center;
        line-height: 1.2em;
    }

    #container-1, #container-2, #container-3 {
        padding: 1rem;
        margin-top: 3rem;
    }

    .front-wrapper {
        flex-direction: column;
        margin-top: 1rem;
    }

    .front-wrapper .front-img {
        width: 100%;
    }

    .front-wrapper .front-desc {
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
    }

    .retro-wrapper {
        flex-direction: column;
        margin-top: 1rem;
    }

    .retro-wrapper .retro-img {
        width: 100%;
    }

    .retro-wrapper .retro-desc {
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
    }

    footer {
        margin-top: 0;
        padding: 1rem;
        flex-direction: column;
    }

    footer .Footer_AboutUs {
        width: 100%;
        padding: 1rem 0;
    }

    footer .Footer_Credits {
        width: 100%;
        padding: 1rem 0;
    }
}

@media (max-width:641px) { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    h1 {
        font-size: var(--text-h3);
        line-height: 1.3em;
    } 

    footer {
        padding: 2rem;
    }

}

@media (max-width:481px) { 
    h2 {
        font-size: var(--text-h3);
        line-height: 1.3em;
    }

    h3 {
        font-size: var(--text-h4);
        line-height: 1.3em;
    }
}

